


.cus-log-img{
 background-image: url('/freepik__candid-image-photography-natural-textures-highly-r__90470.png');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}


.cus-logo{
    font-size: 50px;
    font-weight: 800;
}



.Cus-war-txt{
    font-size: 12px;
}





